{% extends "django_contactme/base.html" %}

{% block content %}
<h4>Get in contact</h4>
<p>Either write me an email at someone@example.com, or fill in the following form and click on the send button:</p>
{% if form.message.value %}
<div class="row">
  <div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10">
    <div class="panel panel-default">
      <div class="panel-heading">Preview your message</div>
      <div class="panel-body">
	{{ form.message.value|linebreaks }}
      </div>
    </div>
  </div>
</div>
{% endif %}
<div class="well well-lg">
  {% include "django_contactme/form.html" %}
</div>
{% endblock %}
